[Desktop Entry]
Name=Urutau Icons
GenericName=Urutau Icons App
Comment=A package of icons that transforms the third-party icons with the elementary appearance.
Categories=Utility;Settings;
Exec=com.github.btd1337.urutau-icons
Icon=urutau-icons
Terminal=false
Type=Application
Keywords=Icons;Iconpack;DesktopSettings;
